body{

}
.form{
  text-align: center;
  padding: 10%;
  background-image: url(./photos/log\ in.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  
}
.container{
margin: auto;
width: 50%;
background-color:white;
opacity: 0.8;
border-radius: 10px;

}
.email,.pass{
  padding: 3% 12% 3% 0.5%;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border-color: #e1701a;
}
.pass{
  margin: 10%;
}
.log{
  padding: 2% 6%;
  border-radius: 10px;
  background-color: #e1701a;
  margin-bottom: 40px;
  cursor: pointer;
}
.fp{
  padding: 30px;
}
.link{
  color: black;
  text-decoration: none;
}


